.logo {
    width: 20px;
}

#dream-gif {
    width: 30%;

    margin-left: auto;
    margin-right: auto;
}

.insta-link {
    text-decoration: none;

    color: black;
    font-family: 'Source Sans Pro';

}
