body {
    background-color: #15141a;
}


.grid {
    width: 83.5%;
    margin: auto;

    min-width: 950px;
    
    max-width: 1100px;

    transition: height 0s;
}

.grid-sizer {
    width: 30%;
}

.gutter-sizer {
    width: 5%;
}

.grid-item {
    float: left;
    width: 30%;
}


.card {
    margin-bottom: 15%;

    display:block;

    height: 0;
    
    padding-top: 70%;
    position:relative;
    overflow: hidden;
}


div.card:hover {
        padding-top: calc(350/330 * 100%);
}


.aspect-card {
    background-color: #212129;
    border-radius: 8px;
    overflow: hidden;
    transition: height .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.aspect-card-img {
    position: relative;
    height: 0;
    background-color: #b8b8b8;
    overflow: hidden;

    padding-top:52.5%;
}


.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}

.card-img-sizing {
    max-width: 100%;
}

.aspect-card-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
}

.card-caption {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 17.5%;
}

.card-caption-left {
    width: 60%;

    padding-top: 4.5%;
    padding-left: 6.25%;
}


.project-link {
    width: 7.5%;
    height: calc(4/48 * 100%);

    border-radius: 8px;

    position: absolute;
    bottom: 23%;
    right: 6.25%;

    /* Unhover */
    transition: .3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.card:hover div.project-link {
        /*transition-delay: .2s;*/
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        
        width: 20%;
        height: calc(16/48 * 100%);
        border-radius: 3px;

        display: table;
}

.hackathon-tab {
    /*background-color: #FFC700;*/
    background-image: linear-gradient(to top right, #FE9E68, #F7CE68);
}

.intern-tab {
    /*background-color: #8EFFC9;*/
    background-image: linear-gradient(to top right, #4CB8C4, #72F0C3);
}

.project-tab {
    /*background-color: #0047FF;*/
    background-image: linear-gradient(to top right, #9599E2, #8BC6EC);
}

.other-tab {
    /*background-color: #FF5252;*/
    background-image: linear-gradient(to top right, #FC98AA, #FFC7C7);
}

.tab-dark-text {
    color:#000000;
}

.tab-light-text {
    color: white;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.explore {
    display: table-cell;
    opacity: 0;

    text-align: center;
    vertical-align: middle;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 10px;
}

div.card:hover .explore {
    transition-property: opacity;
    transition-delay: 0s;
    transition-duration: .15s;

    opacity: 1;
}

.card-content {
    transition-property: opacity;
    transition-duration: .3s;
    opacity: 0;
    color: white;

    margin-top: 0;
    margin-left: 6.25%;
    margin-right: 7%;
    padding: 0;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

div.card:hover .card-content {
    transition-delay: 0s;
    opacity: 1;
}


.card-title {
    color: white;
    margin: 0;
    margin-top: -3%;
    padding: 0;
    border: 0;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 19px;

    z-index: 1;
}

.card-subtitle {
    position: absolute;
    bottom: 17%;
    left: 6.25%;

    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #79798f;

    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.sub-start {
    margin-bottom: 0%;
    opacity: 1;
}

.sub-end {
    margin-bottom: 3%;
    opacity: 0;
}

div.card:hover .sub-start {
    opacity: 0;
    margin-bottom: -3%;
}

div.card:hover .sub-end {
    opacity: 1;
    margin-bottom: 0%;
}


.linkSpanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 2;

    /* edit: fixes overlap error in IE7/8, 
        make sure you have an empty gif 
    background-image: url('empty.gif');*/
}   


/* two column */
@media only screen and (max-width: 1000px) {
    .grid-sizer{
        width: 47.5%;
    }

    .grid-item{
        width: 47.5%;
    }

    .grid {
        min-width: 0px;
    }
}

/* one column */
@media only screen and (max-width: 700px) {
    .grid {
        max-width: 420px;
    }
    
    .grid-sizer{
        width: 100%;
    }

    .grid-item{
        width: 100%;
    }

    .gutter-sizer {
        width: 0%;
    }
}